body{
	background-color: #ffc3d8;
}

#title{
	font-size: xx-large; 
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 1%;
}

#right{
	font-size: 40px;
	float: right;
}


.loading {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	top:100%;
 }
 .loading div {
	display: inline-block;
	position: absolute;
	left: 8px;
	width: 16px;
	background: #fff;
	animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
 }
 .loading div:nth-child(1) {
	left: 8px;
	animation-delay: -0.24s;
 }
 .loading div:nth-child(2) {
	left: 32px;
	animation-delay: -0.12s;
 }
 .loading div:nth-child(3) {
	left: 56px;
	animation-delay: 0;
 }
 @keyframes loading {
	0% {
	  top: 8px;
	  height: 64px;
	}
	50%, 100% {
	  top: 24px;
	  height: 32px;
	}
 }
 
#profileImage{
	border: outset rgb(167, 122, 226) 0.5rem;
}
#profileImage:hover{
	border: inset rgb(167, 122, 226) 0.5rem;
	color: rgb(105, 115, 253)
}